    * {
        padding: 0;
        margin: 0;
    }
    
    nav {
        height: 11vh;
        width: 100%;
        background-color: rgb(14, 0, 63);
        border-bottom: 2px solid white;
    }
    
    .logoupdated {
        position: relative;
        top: 10px;
        color: white;
        margin-left: 100px;
        padding: 5px;
        font-size: 30px;
        letter-spacing: 5px;
        border: 2px solid white;
    }
    
    nav img {
        height: 40px;
    }
    
    nav ul {
        float: right;
        margin-right: 20px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    
    nav ul li a {
        color: white;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    a.active,
    a:hover {
        background: white;
        color: rgb(14, 0, 63);
        transition: 0.5s;
        cursor: pointer;
    }
    
    .checkbtn {
        font-size: 35px;
        color: white;
        float: right;
        line-height: 80px;
        margin-top: 8px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    
    #contact {
        border: 2px solid white;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 30px;
        background: black;
        display: none;
    }
    
    #contactform {
        margin-top: 20px;
    }
    
    #contact input {
        width: 310px;
        padding: 4px;
        border: 1.5px solid white;
        background: black;
        color: white;
        outline: none;
        caret-color: white;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    #contact input::placeholder,
    #contact textarea::placeholder {
        color: white;
        opacity: 0.7;
    }
    
    #contact textarea {
        background: black;
        outline: none;
        padding: 4px;
        border: 1.5px solid white;
        caret-color: white;
        color: white;
    }
    
    #contact label {
        font-size: 52px;
        padding-bottom: 50px;
        color: white;
    }
    
    #message {
        width: 310px;
        height: 60px;
    }
    
    #contact input[type=submit] {
        width: 200px;
        transition: 0.3s ease-in-out;
    }
    
    #contact input[type=submit]:hover {
        width: 210px;
        border-radius: 10px;
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px black inset !important;
    }
    
    input:-webkit-autofill {
        -webkit-text-fill-color: white !important;
    }
    
    #photobackground {
        display: none;
        background: url("images/photo_background.jpg") center center;
        height: calc(89vh - 2px);
    }
    
    #photo p {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        left: 50%;
        top: 150px;
        transform: translateX(-50%);
        font-family: 'Sacramento', cursive;
        font-size: 23px;
    }
    
    #photo a {
        position: relative;
        color: black;
        font-size: 30px;
        left: 70px;
        padding: 8px;
    }
    
    #photo a:hover {
        outline: none;
        text-decoration: none;
        background: transparent;
        color: white;
    }
    
    #saishree {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
        width: 450px;
        border: 2px solid white;
    }
    
    @keyframes typing {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
    
    @keyframes blinkTextcursor {
        0%,
        100% {
            border-right: 2px solid transparent;
        }
        50% {
            border-right: 2px solid #222;
        }
    }
    
    #choice {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: none;
        text-align: center;
    }
    
    #choice h1 {
        margin: 20px 0;
    }
    
    #choice button {
        padding: 10px;
        margin: 10px 0;
        border: 2px solid black;
    }
    
    #choice button:hover {
        cursor: pointer;
        background: black;
        color: white;
        border: 2px solid white;
    }
    
    #game {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: none;
        text-align: center;
        display: none;
    }
    
    #game h1 {
        margin: 20px 0;
    }
    
    #game button {
        padding: 10px;
        margin: 10px 10px;
        border: 2px solid black;
    }
    
    #game button:hover {
        cursor: pointer;
        background: black;
        color: white;
        border: 2px solid white;
    }
    
    #gamechoose {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: none;
        text-align: center;
        display: none;
    }
    
    #gamechoose h1 {
        margin: 20px 0;
    }
    
    #gamechoose button {
        padding: 10px;
        margin: 10px 10px;
        border: 2px solid black;
    }
    
    #gamechoose button:hover {
        cursor: pointer;
        background: black;
        color: white;
        border: 2px solid white;
    }
    
    #truth {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        display: none;
    }
    
    #question {
        border: 2px solid black;
        padding: 10px;
        margin-top: 20px;
    }
    
    #truthanswer {
        width: 280px;
        height: 50px;
        margin-top: 20px;
        padding: 5px;
        border: 1px solid black;
    }
    
    #truthsubmit {
        padding: 5px;
        border: 2px solid black;
    }
    
    #truthsubmit:hover {
        cursor: pointer;
        background: black;
        color: white;
        border: 2px solid white;
    }
    
    #dare {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        display: none;
    }
    
    #task {
        border: 2px solid black;
        padding: 10px;
        margin-top: 20px;
        min-width: 300px;
    }
    
    #daredone {
        padding: 5px;
        border: 2px solid black;
        margin-top: 20px;
    }
    
    #daredone:hover {
        cursor: pointer;
        background: black;
        color: white;
        border: 2px solid white;
    }
    
    #front {
        background: url("images/Starsbackgroundupdatednew.gif") center center;
        width: 100%;
        height: calc(89vh - 2px);
    }
    
    #front img {
        position: relative;
        left: 50%;
        margin-top: 30px;
        transform: translateX(-50%);
        width: 50%;
    }
    
    button.photo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 50px;
        font-size: 20px;
        border-radius: 25px;
        outline: none;
        color: white;
        background: transparent;
        border: 2px solid white;
    }
    
    button.photo:hover {
        color: rgb(223, 176, 22);
        cursor: pointer;
        box-shadow: 0 0 10px rgb(223, 176, 22), 0 0 40px rgb(223, 176, 22), 0 0 80px rgb(223, 176, 22);
    }
    
    @media(max-width:1500px) {
        #front img {
            width: 50%;
        }
    }
    
    @media(max-width:1150px) {
        #front img {
            width: 60%;
        }
    }
    
    @media(max-width: 952px) {
        label.logoupdated {
            font-size: 25px;
            top: 17px;
            letter-spacing: 3px;
            margin-left: 40px;
        }
        nav ul li a {
            font-size: 16px;
        }
    }
    
    @media (max-width: 858px) {
        .checkbtn {
            display: block;
        }
        ul {
            position: fixed;
            width: 100%;
            background: #2c3e50;
            top: calc(11vh + 2px);
            left: -100%;
            text-align: center;
            transition: all .5s;
            z-index: 29;
            border-bottom: 2px solid white;
        }
        nav ul li {
            display: block;
        }
          nav ul li a{
             font-size:20px;
          }
        nav ul li a:hover {
            background: white;
            color: rgb(14, 0, 63);
            transition: 0.5s;
            cursor: pointer;
        }
        #check:checked~ul {
            left: 0;
        }
        #front img {
            width: 90%;
            margin-top: 100px;
        }
        #contact label {
            font-size: 44px;
        }
        #contact input {
            width: 250px;
        }
        #message {
            width: 250px;
        }
        #photo p {
            top: 160px;
            font-size: 17px;
        }
        #saishree {
            width: 330px;
            top: 60px;
        }
        #photo a {
            padding: 6px;
            left: 25px;
        }
        button.photo {
            top: 30px;
            width: 150px;
            font-size: 16px;
            height: 40px;
        }
    }
    
    .pre-loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url("images/paper-windmill.gif") center no-repeat #fff;
    }
    
    #footer {
        background-color: black;
        color: green;
        position: fixed;
        bottom: 0;
        right: 0;
        border: 0.5px solid white;
        margin-right: 10px;
        padding: 5px;
    }
